*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

.introduction__title {
  font-size: 4rem; }

.introduction__summary {
  font-size: 2rem; }

.header {
  height: 100vh;
  background-image: linear-gradient(to right bottom, rgba(242, 242, 242, 0.5), rgba(128, 255, 255, 0.8)), url(../img/laptop.jpeg);
  background-size: cover;
  background-position: top;
  position: relative; }
  .header__text-box {
    position: absolute;
    text-align: center;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%); }
