*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media (max-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box; }

body {
  color: #000066;
  line-height: 1.2; }

.introduction__title {
  font-size: 4rem; }

.introduction__summary {
  font-size: 2rem; }

.heading-primary {
  font-size: 3rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-shadow: 2px 2px #66b3ff; }

.contact-paragraph {
  font-size: 3rem; }
  @media (max-width: 56.25em) {
    .contact-paragraph {
      font-size: 2rem; } }

.u-center-text {
  text-align: center; }

.u-margin-bottom-medium {
  margin-bottom: 4rem; }

.u-p-font-size {
  font-size: 2.6rem; }

.btn:link, .btn:visited {
  font-size: 1.8rem;
  color: #66b3ff;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #66b3ff;
  padding: .8rem;
  transition: all .1s; }

.btn:hover {
  background-color: #66b3ff;
  color: #ffffff;
  box-shadow: 0 1rem 2rem rgba(0, 13, 26, 0.1);
  transform: translateY(-2px); }

.btn:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 13, 26, 0.1);
  transform: translateY(0); }

.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  background-color: #f2f2f2;
  height: 50rem; }
  .card__picture {
    background-size: cover;
    height: 30rem; }
    .card__picture--1 {
      background-image: url(../img/project-1.JPG); }
    .card__picture--2 {
      background-image: url(../img/project-2.PNG); }
    .card__picture--3 {
      background-image: url(../img/project-3.PNG); }
    .card__picture:hover {
      outline: 1rem groove #66b3ff;
      transform: scale(1.05) translateY(-0.5rem); }
  .card__details {
    padding: 1rem;
    font-size: 1.6rem; }

.icon {
  font-size: 6rem;
  text-align: center;
  margin: 2rem; }

.rectangle {
  width: 75%;
  margin: 5rem auto;
  box-shadow: 0 3rem 6rem rgba(0, 13, 26, 0.5);
  background-color: rgba(255, 255, 255, 0.7);
  padding: 5.5rem; }
  @media (max-width: 37.5em) {
    .rectangle {
      padding: 3rem; } }
  .rectangle__details {
    font-size: 2rem; }
    @media (max-width: 37.5em) {
      .rectangle__details {
        font-size: 1.4rem; } }

.footer {
  background-image: linear-gradient(#80ffff, #66b3ff);
  padding: 1.5rem 0; }
  .footer__copyright {
    text-align: center;
    font-weight: bold;
    font-size: 1.6rem; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  @media (max-width: 56.25em) {
    .row {
      max-width: 50rem;
      padding: 0 1.5rem; } }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3);
    float: left; }
    @media (max-width: 75em) {
      .row .col-1-of-3 {
        width: calc((100% - 6rem) / 2); } }
    @media (max-width: 56.25em) {
      .row .col-1-of-3 {
        width: 100%; } }
    .row .col-1-of-3:not(:last-child) {
      margin-right: 6rem; }
      @media (max-width: 75em) {
        .row .col-1-of-3:not(:last-child) {
          margin-right: 3rem;
          margin-bottom: 3rem; } }
      @media (max-width: 56.25em) {
        .row .col-1-of-3:not(:last-child) {
          margin-right: 0;
          margin-bottom: 3rem; } }

.header {
  background-image: linear-gradient(to right bottom, rgba(242, 242, 242, 0.5), rgba(128, 255, 255, 0.8)), url(../img/background-1.jpeg);
  background-size: cover;
  background-position: top;
  position: relative;
  padding: 30rem 0; }
  .header__text-box {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .header__photo {
    padding: 5rem;
    border-radius: 50%; }

.section-projects {
  background-image: linear-gradient(to right bottom, rgba(242, 242, 242, 0.5), rgba(128, 255, 255, 0.8)), url(../img/background-2.jpeg);
  background-size: cover;
  background-position: top;
  position: relative;
  padding: 8rem 2rem; }

.section-education {
  background-image: linear-gradient(to right bottom, rgba(242, 242, 242, 0.5), rgba(128, 255, 255, 0.8)), url(../img/background-3.jpeg);
  background-size: cover;
  background-position: top;
  position: relative;
  padding: 5rem 0; }

.section-experience {
  background-image: linear-gradient(to right bottom, rgba(242, 242, 242, 0.5), rgba(128, 255, 255, 0.8)), url(../img/background-4.jpeg);
  background-size: cover;
  background-position: top;
  position: relative;
  padding: 5rem 0; }

.section-contact {
  background-image: linear-gradient(to right bottom, rgba(242, 242, 242, 0.5), rgba(128, 255, 255, 0.8)), url(../img/background-5.jpeg);
  background-size: cover;
  background-position: top;
  position: relative;
  padding: 5rem 0;
  padding-bottom: 23rem; }
