*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media (max-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box; }

body {
  color: #000066;
  line-height: 1.2;
  font-family: "Lucida Grande", sans-serif; }

.introduction__title {
  font-size: 4rem;
  margin-bottom: 4rem; }
  @media (max-width: 56.25em) {
    .introduction__title {
      margin-bottom: 2.5rem; } }

.introduction__summary {
  font-size: 2rem;
  background: rgba(112, 184, 255, 0.1); }

.heading-primary {
  font-size: 3rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-shadow: 2px 2px #66b3ff; }

.contact-paragraph {
  font-size: 3rem; }
  @media (max-width: 56.25em) {
    .contact-paragraph {
      font-size: 2rem; } }

.u-center-text {
  text-align: center; }

.u-margin-bottom-medium {
  margin-bottom: 4rem; }

.u-p-font-size {
  font-size: 2.6rem; }

.btn:link, .btn:visited {
  font-size: 1.8rem;
  color: #66b3ff;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #66b3ff;
  padding: .8rem;
  transition: all .1s; }

.btn:hover {
  background-color: #66b3ff;
  color: #ffffff;
  box-shadow: 0 1rem 2rem rgba(0, 13, 26, 0.1);
  transform: translateY(-2px); }

.btn:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 13, 26, 0.1);
  transform: translateY(0); }

.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  background-color: #f2f2f2;
  height: 50rem; }
  .card__picture {
    background-size: cover;
    height: 30rem;
    position: relative;
    transition: all .3s; }
    .card__picture--1 {
      background-image: url(../img/project-1.JPG); }
    .card__picture--2 {
      background-image: url(../img/project-2.PNG); }
    .card__picture--3 {
      background-image: url(../img/project-3.PNG); }
  .card__button-link {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2.5rem;
    padding: 1.5rem;
    color: #000066;
    background-color: rgba(128, 255, 255, 0.7);
    border-radius: 50%;
    text-decoration: none;
    opacity: 0;
    backface-visibility: hidden; }
    .card__button-link:hover {
      background-color: #66b3ff;
      color: #ffffff; }
  .card:hover .card__button-link {
    top: 50%;
    left: 50%;
    opacity: 1; }
    @media only screen and (hover: none) {
      .card:hover .card__button-link {
        display: none;
        opacity: 0; } }
  .card:hover .card__picture {
    outline: 1rem groove #66b3ff;
    transform: scale(1.05) translateY(-0.5rem);
    filter: brightness(80%); }
    @media only screen and (hover: none) {
      .card:hover .card__picture {
        outline: none;
        transform: scale(1) translateY(0);
        filter: brightness(100%); } }
  .card__details {
    padding: .8rem;
    font-size: 1.6rem;
    margin-top: 1rem; }

.rectangle {
  width: 75%;
  margin: 5rem auto;
  box-shadow: 0 3rem 6rem rgba(0, 13, 26, 0.5);
  background-color: rgba(255, 255, 255, 0.7);
  padding: 5.5rem; }
  @media (max-width: 37.5em) {
    .rectangle {
      padding: 3rem; } }
  .rectangle__details {
    font-size: 2rem;
    margin-bottom: .7rem; }
    @media (max-width: 37.5em) {
      .rectangle__details {
        font-size: 1.4rem; } }
  .rectangle__icon {
    font-size: 2.5rem; }
    .rectangle__icon--large {
      margin-right: 1.5rem; }
    .rectangle__icon--med {
      margin-right: 1.3rem; }
    .rectangle__icon--small {
      margin-right: .6rem; }
  .rectangle__list {
    border-top: 1px solid #66b3ff;
    list-style-type: circle;
    margin-top: 1.5rem; }
  .rectangle__item {
    font-size: 1.8rem;
    padding: .6rem;
    margin-left: 1rem; }
    @media (max-width: 56.25em) {
      .rectangle__item {
        font-size: 1.4rem; } }

.footer {
  background-image: linear-gradient(#80ffff, #66b3ff);
  padding: 1.5rem 0; }
  .footer__copyright {
    text-align: center;
    font-weight: bold;
    font-size: 1.6rem; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  @media (max-width: 56.25em) {
    .row {
      max-width: 50rem;
      padding: 0 1.5rem; } }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3);
    float: left; }
    @media (max-width: 75em) {
      .row .col-1-of-3 {
        width: calc((100% - 6rem) / 2); } }
    @media (max-width: 56.25em) {
      .row .col-1-of-3 {
        width: 100%; } }
    .row .col-1-of-3:not(:last-child) {
      margin-right: 6rem; }
      @media (max-width: 75em) {
        .row .col-1-of-3:not(:last-child) {
          margin-right: 3rem;
          margin-bottom: 3rem; } }
      @media (max-width: 56.25em) {
        .row .col-1-of-3:not(:last-child) {
          margin-right: 0;
          margin-bottom: 3rem; } }

.header {
  background-image: linear-gradient(to right bottom, rgba(242, 242, 242, 0.5), rgba(128, 255, 255, 0.8)), url(../img/background-1.jpeg);
  background-size: cover;
  background-position: top;
  position: relative;
  padding: 30rem 0;
  height: 100vh; }
  .header__text-box {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .header__photo {
    padding: 5rem;
    border-radius: 50%; }
    @media (max-width: 56.25em) {
      .header__photo {
        padding: 2.5rem 5rem; } }

.navigation {
  position: fixed;
  z-index: 20; }
  .navigation__button {
    position: fixed;
    top: 3rem;
    right: 3rem;
    cursor: pointer;
    z-index: 12;
    transition: all .5s; }
    @media (max-width: 37.5em) {
      .navigation__button {
        top: 2.5rem;
        right: 2.5rem; } }
    .navigation__button__line {
      width: 2.8rem;
      height: 3px;
      margin: 0 0 5px 0;
      background: #000066; }
    .navigation__button.close {
      transform: rotate(180deg); }
      .navigation__button.close .navigation__button__line:nth-child(1) {
        transform: rotate(1deg) translate(1px, -5px); }
      .navigation__button.close .navigation__button__line:nth-child(2) {
        transform: rotate(92deg) translate(2px, -17px); }
      .navigation__button.close .navigation__button__line:nth-child(3) {
        transform: rotate(1deg) translate(1px, 11px); }
  .navigation__nav {
    position: fixed;
    top: 0;
    width: 100%;
    opacity: 0.9;
    visibility: hidden; }
    .navigation__nav.show {
      visibility: visible; }
  .navigation__list {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    float: right;
    width: 25%;
    height: 100vh;
    background: #66b3ff;
    list-style: none;
    transform: translate3d(0, -100%, 0);
    transition: all .5s; }
    @media (max-width: 56.25em) {
      .navigation__list {
        width: 45%; } }
    @media (max-width: 37.5em) {
      .navigation__list {
        width: 100%; } }
    .navigation__list.show {
      transform: translate3d(0, 0, 0); }
  .navigation__item {
    transform: translate3d(500px, 0, 0);
    transition: all .5s; }
    .navigation__item.show {
      transform: translate3d(0, 0, 0); }
  .navigation__item:nth-child(1) {
    transition-delay: 0.1s; }
  .navigation__item:nth-child(2) {
    transition-delay: 0.2s; }
  .navigation__item:nth-child(3) {
    transition-delay: 0.3s; }
  .navigation__item:nth-child(4) {
    transition-delay: 0.4s; }
  .navigation__item:nth-child(5) {
    transition-delay: 0.5s; }
  .navigation__link {
    text-decoration: none;
    display: inline-block;
    font-size: 2.4rem;
    text-transform: uppercase;
    padding: 1rem 0;
    font-weight: 300;
    color: #000066;
    transition: all .5s; }
    .navigation__link:hover {
      background-color: #80ffff;
      padding: 1rem;
      border-radius: 50%;
      font-size: 2.2rem; }

.section-projects {
  background-image: linear-gradient(to left bottom, rgba(242, 242, 242, 0.8), rgba(128, 255, 255, 0.8)), url(../img/background-2.jpeg);
  background-size: cover;
  background-position: top;
  position: relative;
  padding: 5rem 2rem; }

.section-education {
  background-image: linear-gradient(to right bottom, rgba(242, 242, 242, 0.8), rgba(128, 255, 255, 0.8)), url(../img/background-3.jpeg);
  background-size: cover;
  background-position: top;
  position: relative;
  padding: 5rem 0; }

.section-experience {
  background-image: linear-gradient(to left bottom, rgba(242, 242, 242, 0.8), rgba(128, 255, 255, 0.8)), url(../img/background-4.jpeg);
  background-size: cover;
  background-position: top;
  position: relative;
  padding: 5rem 0; }

.section-contact {
  background-image: linear-gradient(to right bottom, rgba(242, 242, 242, 0.8), rgba(128, 255, 255, 0.8)), url(../img/background-5.jpeg);
  background-size: cover;
  background-position: top;
  position: relative;
  padding: 5rem 0;
  padding-bottom: 23rem; }
  @media (max-width: 37.5em) {
    .section-contact {
      height: 70vh; } }
  .section-contact .icon {
    font-size: 6rem;
    text-align: center;
    margin: 2rem; }
    .section-contact .icon__link {
      color: #000066; }
      .section-contact .icon__link:hover {
        color: #80ffff; }
