@mixin clearfix{
    &::after{
        content: "";
        display: table;
        clear: both;
    }
}

@mixin animationAll{
    transition: all .3s;
}

@mixin maxScreen($size: 0){
    max-width: 160rem;
    margin: $size auto;
}

@mixin responsive($breakpoint){
    @if $breakpoint == phone{
        @media(max-width: 37.5em){ @content };
    }
    @if $breakpoint == t-portrait{
        @media(max-width: 56.25em){ @content };
    }
    @if $breakpoint == t-landscape{
        @media(max-width: 75em){ @content };
    }
    @if $breakpoint == b-desktop{
        @media(min-width: 112.5em){ @content };
    }
}

@mixin parallaxScrolling{
    background-attachment: fixed;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;

    @include responsive(phone){
        background-attachment: scroll;
    }
}