$color-blue: #31a0d8;
$color-blue-light: #91eccb;
$color-blue-dark: #3f4781;
$color-blue-lighter: #a6dada;
$color-blue-lighter2: #b2dfdf;
$color-white: #f7f7f7;
$color-black: #000000;
$color-green: #32a341;

$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 3rem;
$gutter-horizaontal: 10rem;
$gutter-horizaontal-med: 5rem;
$gutter-horizaontal-small: 3rem;