$color-blue: #66b3ff;
$color-blue-light: #80ffff;
$color-blue-dark: #000066;
$color-silver: #f2f2f2;
$color-white: #ffffff;
$color-black: #000d1a;
$color-green: #32a341;

$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 3rem;
$gutter-horizaontal: 10rem;
$gutter-horizaontal-med: 1rem;
$gutter-horizaontal-small: 3rem;