$color-blue: #31a0d8;
$color-blue-light: #91eccb;
$color-blue-dark: #3f4781;
$color-blue-lighter: #a6dada;
$color-blue-lighter2: #b2dfdf;
$color-white: #f7f7f7;
$color-black: #000000;
$color-green: #32a341;

$border-radius-size: 5px;