.row{
    max-width: $grid-width;
    margin: 0 auto;

    &:not(:last-child){
        margin-bottom: $gutter-vertical;
    }

    @include responsive(t-portrait){
        max-width: 50rem;
        padding: 0 1.5rem;
    }

    @include clearfix;

    .col-1-of-3{
        width: calc((100% - 2 * #{$gutter-horizaontal}) / 3);
        float: left;

        @include responsive(t-landscape){
            width: calc((100% - #{$gutter-horizaontal}) / 2);
        }

        @include responsive(t-portrait){
            width: 100%;
        }

        &:not(:last-child){
            margin-right: $gutter-horizaontal;

            @include responsive(t-landscape){
                margin-right: $gutter-horizaontal-small;
                margin-bottom: $gutter-vertical-small;
            }

            @include responsive(t-portrait){
                margin-right: 0;
                margin-bottom: $gutter-vertical-small;
            }
        }
    }
} 