.row{
    max-width: $grid-width;
    margin: 0 auto;
    padding: 0 10rem;

    &:not(:last-child){
        margin-bottom: $gutter-vertical;
    }

    @include responsive(t-landscape){
        padding: 0 4rem;
    }

    @include responsive(t-portrait){
        max-width: 50rem;
        padding: 0 1.5rem;
    }

    @include clearfix;

    .col-1-of-2{
        width: calc((100% - #{$gutter-horizaontal}) / 2);
        float: left;

        @include responsive(t-portrait){
            width: 100%;
            
            &:not(:last-child){
                margin-bottom: 5rem;
            }
        }

        &:not(:last-child){
            margin-right: $gutter-horizaontal;
        }
    }
} 