.header{
    background-image: linear-gradient(to right bottom, rgba($color-silver, 0.5), rgba($color-blue-light, 0.8)), url(../img/background-1.jpeg);
    @include parallaxScrolling;
    position: relative;
    height: 100vh;

    &__text-box{
        @include maxScreen;

        @include responsive(t-portrait){
            width: 60%;
        }

        @include responsive(phone){
            width: 100%;
        }
    }

    & span{
        position: absolute;
        right: -20px;
        bottom: 110px;
        font-size: 2.2rem;
        font-weight: bold;
        text-transform: uppercase;
        transform: rotate(90deg);
        color: $color-blue-dark;
        animation: fade 1s infinite;

        @include responsive(t-portrait){
            font-size: 2rem;
            right: -25px;
        }
    }
}

.heading-primary{
    font-size: 3rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: $color-blue-dark;
    font-weight: bold;

    &:after {
        display:block;
        content: "";
        width: 15rem;
        border-bottom: 2px solid $color-blue-dark;
        margin: auto;
        padding: .35rem 0;
    }
}