.header{
    background-image: linear-gradient(to right bottom, rgba($color-silver, 0.5), rgba($color-blue-light, 0.8)), url(../img/background-1.jpeg);
    @include parallaxScrolling;
    position: relative;
    height: 100vh;

    &__text-box{
        width: 50%;
        position: absolute;
        text-align: center;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        @include responsive(t-portrait){
            width: 60%;
        }

        @include responsive(phone){
            width: 80%;
            top: 45%;
        }
    }
    
    &__photo{
        margin: 3rem 0;
        border-radius: 50%;

        animation-name: moveFromTop;
        animation-duration: 1s;
        animation-timing-function: ease-out;

        @include responsive(t-portrait){
            margin: 2.5rem 0;
        }
    }
}