.hero{
    width: 100%;
    padding: 10rem;
    display: grid;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    grid-template-columns: repeat(2, 1fr);
    @include maxScreen;

    @include responsive(t-portrait){
        display: flex;
        flex-direction: column-reverse;
        grid-template-columns: 1fr;
        padding: 5rem;
    }

    &__title{
        font-size: 4rem;
        margin-top: 5rem;
        margin-bottom: 3rem;

        animation-name: moveFromTop;
        animation-duration: 1s;
        animation-timing-function: ease-out;

        @include responsive(phone){
            font-size: 3.5rem;
        }
    }

    &__summary{
        line-height: 1.4;
        font-size: 2rem;
        margin-bottom: 3rem;

        animation-name: moveFromTop;
        animation-duration: 1s;
        animation-timing-function: ease-out;
    }

    &__photo{
        width: 100%;
        margin: 3rem 0;

        animation-name: moveFromTop;
        animation-duration: 1s;
        animation-timing-function: ease-out;

        @include responsive(t-portrait){
            width: 60%;
            display: block;
            margin: auto;
            margin-top: 5rem;
        }

        @include responsive(phone){
            width: 100%;
            margin-top: 3rem;
        }
    }
}