.navigation{
    position: fixed;
    z-index: 20;

    &__button{
        position: fixed;
        top: 3rem;
        right: 3rem;
        cursor: pointer;
        z-index: 12;
        transition: all .5s;

        &__line{
            width: 2.8rem;
            height: 3px;
            margin: 0 0 5px 0;
            background: $color-blue-dark;
        }

        &.close{
            transform: rotate(180deg);

            .navigation__button__line{

                &:nth-child(1){
                    transform: rotate(1deg) translate(1px, -5px);
                }

                &:nth-child(2){
                    transform: rotate(92deg) translate(2px, -17px)
                }

                &:nth-child(3){
                    transform: rotate(1deg) translate(1px, 11px);
                }
            }
        }
    }

    &__nav{
        position: fixed;
        top: 0;
        width: 100%;
        opacity: 0.9;
        visibility: hidden;

        &.show{
            visibility: visible;
        }
    }

    &__list{
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        justify-content: center;
        float: right;
        width: 50%;
        height: 100vh;
        background: $color-blue;
        list-style: none;
    }
}