.navigation{
    display: none;
    position: fixed;
    z-index: 20;
    width: 100%;

    @include responsive(t-portrait){
        display: block;
    }

    &__logo{
        margin-top: .5rem;
        margin-left: 4rem;
        padding: .5rem;
        width: 14rem;
        @include animationAll;

        &:hover{
            opacity: .5;
        }
    }

    &__button{
        position: fixed;
        padding: 1.1rem 1rem .5rem 1rem;
        top: .5rem;
        right: 4rem;
        cursor: pointer;
        z-index: 12;
        @include animationAll;

        &__line{
            width: 3.2rem;
            height: 3px;
            margin: 0 0 7px 0;
            background: $color-blue-dark;
        }

        &.close{
            transform: rotate(180deg);

            .navigation__button__line{

                &:nth-child(1){
                    transform: rotate(42deg) translate(-2px, -1px);
                    width: 3.5rem;
                    height: 4px;
                }

                &:nth-child(2){
                    display: none;
                }

                &:nth-child(3){
                    transform: rotate(-42deg) translate(7px, -10px);
                    width: 3.5rem;
                    height: 4px;
                }
            }
        }
    }

    &__nav{
        position: fixed;
        top: 0;
        width: 100%;
        opacity: .985;
        visibility: hidden;

        &.show{
            visibility: visible;
        }
    }

    &__list{
        display: flex;
        flex-flow: column wrap;
        align-items: flex-start;
        float: right;
        width: 25%;
        height: 100vh;
        padding-top: 10rem;
        padding-left: 4rem;
        background: $color-blue-lighter;
        list-style: none;
        transform: translate3d(0, -100%, 0);
        @include animationAll;

        @include responsive(t-landscape){
            width: 35%;
        }

        @include responsive(t-portrait){
            width: 50%;
        }

        @include responsive(phone){
            padding-left: 2rem;
            width: 100%;
            align-items: center;
        }

        &.show{
            transform: translate3d(0, 0, 0);
        }
    }

    &__item{
        transform: translate3d(500px, 0, 0);
        @include animationAll;

        &.show{
            transform: translate3d(0, 0, 0);
        }

        & i{
            font-size: 4rem;

            @include responsive(phone){
                font-size: 5rem;
            }
        }
    }

    @for $item from 1 through 7{
        &__item:nth-child(#{$item}){
            transition-delay: $item * 0.1s;
        }
    }

    &__link{
        display: inline-block;
        padding: 1rem 0;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 2.5rem;
        font-weight: 300;
        color: $color-blue-dark;
        @include animationAll;

        &:hover{
            opacity: .5;
            transform: translateX(10px);
        }

        @include responsive(phone){
            font-size: 3.5rem;
        }
    }
}

.navigationDesktop{
    position: fixed;
    top: 0;
    z-index: 10;
    padding: .6rem 10rem;
    width: 100%;

    @include responsive(t-landscape){
        padding: .6rem 3rem;
    }

    @include responsive(t-portrait){
        display: none;
    }
    
    &__nav{
        display: flex;
        justify-content: space-between;
        @include maxScreen;
    }

    &__logo{
        text-decoration: none;
        height: 100%;
        cursor: pointer;
        @include animationAll;

        &:hover{
            opacity: .5;
        }
    }

    &__list{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding-left: 4rem;
        list-style: none;
    }

    &__link{
        text-decoration: none;
        text-transform: uppercase;
        font-size: 1.9rem;
        font-weight: 300;
        color: $color-blue-dark;
        margin: 0 1.2rem;
        @include animationAll;

        @include responsive(t-landscape){
            font-size: 1.8rem;
        }

        &:hover{
            opacity: .5;
        }
    }

    &__cta{
        font-size: 1.8rem;
        background-color: $color-blue-dark;
        color: white;
        padding: .5rem 1.2rem;
        border-radius: $border-radius-size;
    }
    
}