.btn{
    &,
    &:link,
    &:visited{
        display: inline-block;
        text-decoration: none;
        border: none;
        border-radius: $border-radius-size;
        cursor: pointer;
        text-align: center;
        color: $color-white;
    }

    &-cta{
        &:link,
        &:visited{
            font-size: 2rem;
            font-weight: bold;
            padding: 1rem 2.5rem;
            margin-right: 2rem;
    
            animation-name: moveFromLeft;
            animation-duration: 1s;
            animation-timing-function: ease-out;

            @include responsive(t-portrait){
                padding: 1rem 2rem;
                margin-right: 0;
                width: 45%;
            }
        }
    }

    &-card{
        &:link,
        &:visited{
            font-size: 1.5rem;
            padding: 1rem 2.5rem;

            @include responsive(phone){
                width: 45%;
            }
        }
    }
    
    &-form{
        width: 33%;
        padding: 1.2rem 0;
        margin: 1rem 0;
        font-size: 1.8rem;
        font-weight: bold;
        font-family: inherit;

        @include responsive(t-portrait){
            width: 40%;
        }

        @include responsive(phone){
            width: 100%;
        }
    }
    
    &-close{
        position: absolute;
        top: -16px;
        right: -12px;
        font-size: 2rem;
        font-weight: 800;
        padding: .5rem 1rem;
        border-radius: 50%;
    }

    &-primary{
        &,
        &:link,
        &:visited{
            border: 1px solid $color-blue-dark;
            background-color: $color-blue-dark;
            @include animationAll;
    
            &:hover{
                background-color: $color-white;
                color: $color-blue-dark;
            }
        }
    }

    &-secondary{
        &,
        &:link,
        &:visited{
            border: 1px solid $color-blue;
            background-color: $color-blue;
            @include animationAll;

            &:hover{
                background-color: $color-white;
                color: $color-blue;
            }
        }
    }
}

.btn-scroll{
    background-color: $color-blue-dark;
    display: none;
    position: fixed;
    bottom: 20px;
    right: 10%;
    z-index: 99;
    font-size: 2rem;
    color: white;
    cursor: pointer;
    padding: 1rem;
    border-radius: 4px;
    cursor: pointer;
    @include animationAll;

    @include responsive(t-landscape){
        right: 23px;
    }

    &:hover{
        background-color: $color-white;
        color: $color-blue-dark;
    }
}