.btn{
    &:link,
    &:visited{
        font-size: 1.8rem;
        color: $color-blue;
        display: inline-block;
        text-decoration: none;
        border-bottom: 1px solid $color-blue;
        padding: 1rem;
        transition-duration: .2s;
        transition-property: background-color, color, box-shadow, transform;
        transition-timing-function: ease-in-out;
    }

    &:hover{
        background-color: $color-blue;
        color: $color-white;
        box-shadow: 0 1rem 2rem rgba($color-black, 0.1);
        transform: translateY(-2px);
    }

    &:active{
        box-shadow: 0 .5rem 1rem rgba($color-black, 0.1);
        transform: translateY(0);
    }
}