.card{
    perspective: 150rem;
    -moz-perspective: 150rem;
    background-color: $color-silver;
    height: 50rem;

    &__picture{
        background-size: cover;
        height: 30rem;
        transition: all .3s;

        &--1{
            background-image: url(../img/project-1.JPG);
        }

        &--2{
            background-image: url(../img/project-2.PNG);
        }

        &--3{
            background-image: url(../img/project-3.PNG);
        }
    }

    &:hover &__picture{
        outline: 1rem groove $color-blue;
        transform: scale(1.05) translateY(-.5rem);
        filter: brightness(60%);
    }

    &__details{
        padding: 1rem;
        font-size: 1.6rem;
    }
}