.card{
    perspective: 150rem;
    -moz-perspective: 150rem;
    background-color: $color-silver;
    outline: 1rem groove $color-blue;
    height: 50rem;

    @include responsive(b-desktop){
        height: 60rem;
    }

    &__picture{
        background-size: 100% 100%;
        background-repeat: no-repeat;
        height: 30rem;
        position: relative;
        transition: transform 0.3s ease-in-out;

        @include responsive(b-desktop){
            height: 35rem;
        }

        &--1{
            background-image: linear-gradient(rgba($color-black, 0.1), rgba($color-silver, 0.1)), url(../img/project-1.JPG);

            &:hover{
                background-image: linear-gradient(rgba($color-black, 0.8), rgba($color-silver, 0.7)), url(../img/project-1.JPG);
            }
        }

        &--2{
            background-image: linear-gradient(rgba($color-black, 0.1), rgba($color-silver, 0.1)), url(../img/project-2.PNG);

            &:hover{
                background-image: linear-gradient(rgba($color-black, 0.8), rgba($color-silver, 0.7)), url(../img/project-2.PNG);
            }
        }
    }

    &__button-link{
        position: absolute;
        top: 20%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 2.5rem;
        padding: 1.5rem;
        color: $color-blue-dark;
        background-color: rgba($color-blue-light, .7);
        border-radius: 50%;
        text-decoration: none;
        opacity: 0;
        backface-visibility: hidden;
        transition-duration: .3s;
        transition-property: background-color, color, opacity, top;
        transition-timing-function: ease-in-out;

        &:hover{
            background-color: $color-blue;
            color: $color-white;
        }
    }

    &:hover &__button-link{
        top: 50%;
        left: 50%;
        opacity: 1;

        @media only screen and (hover: none){
            display: none;
            opacity: 0;
        }
    }

    &__picture:hover{
        transform: scale(.97);

        @media only screen and (hover: none){
            outline: none;
            transform: scale(1);
        }
    }

    &__details{
        padding: .8rem;
        font-size: 1.6rem;
        margin-top: 1rem;
    }
}