.contact-form{
    display: flex;
    flex-direction: column;
    width: 50%;
    @include maxScreen;

    @include responsive(t-landscape){
        width: 55%;
    }

    @include responsive(t-portrait){
        width: 65%;
    }

    @include responsive(phone){
        width: 85%;
    }

    &__label{
        font-size: 1.5rem;
        margin-top: 1rem;
        margin-bottom: .3rem;
        font-weight: 600;
    }

    &__input{
        width: 100%;
        font-size: 1.4rem;
        padding: .5rem;
        margin-bottom: .5rem;
        line-height: 1.4;
    }
}