.modal{
    //display: none;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background: rgba(0, 0, 0, 0.4);

    &__content{
        background-color: $color-white;
        text-align-last: center;
        margin: 7% auto;
        padding: 1rem 0;
        width: 50%;
        height: 70vh;
        border-radius: 10px;
    } 
}

