.parallelogram{
    width: 50%;
    background-color: $color-white;
    transform: skewX(-15deg);
    @include maxScreen(2rem);

    @include responsive(t-landscape){
        width: 55%;
    }

    @include responsive(t-portrait){
        width: 65%;
    }

    @include responsive(phone){
        width: 85%;
    }

    &__contact-text{
        font-size: 2.5rem;
        padding: 1rem;
        transform: skewX(15deg);
        margin-left: 1rem;
    }
}