.parallelogram{
    width: 50%;
    border: 2px solid $color-blue-dark;
    transform: skewX(-15deg);
    background-image: linear-gradient(to right bottom, rgba($color-blue-light, 0.8), rgba($color-blue, 0.8));
    @include maxScreen(2rem);

    @include responsive(t-landscape){
        width: 55%;
    }

    @include responsive(t-portrait){
        width: 65%;
    }

    @include responsive(phone){
        width: 85%;
    }

    &__contact-text{
        font-size: 2.5rem;
        padding: 1rem;
        transform: skewX(15deg);
        margin-left: 1rem;
    }
}