body{
    color: #000066;
    line-height: 1.2;
    font-family: "Lucida Grande", sans-serif;
}

.introduction{

    &__title{
        font-size: 4rem;
        margin-bottom: 4rem;

        animation-name: moveInTop;
        animation-duration: 1s;
        animation-timing-function: ease-out;

        @include responsive(t-portrait){
            font-size: 3.6rem;
            margin-bottom: 2.5rem;
        }
    }

    &__summary{
        text-align: left;
        line-height: 1.4;
        font-size: 2rem;
        background: rgba(lighten($color-blue, 2), 0.1);

        animation-name: moveInRight;
        animation-duration: 1s;
        animation-timing-function: ease-out;
        

        @include responsive(phone){
            font-size: 1.5rem;
        }
    }
}

.heading-primary{
    font-size: 3rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-shadow: 2px 2px $color-blue;

    &:after {
        display:block;
        content: "";
        width: 15rem;
        border-bottom: 2px solid $color-blue-dark;
        margin: auto;
        padding: .35rem 0;
    }
}