.u-center-text{ text-align: center; }

.u-margin-top-medium{ margin-top: 2.5rem; }
.u-margin-top-small{ margin-top: 1.5rem; }

.u-margin-right-medium{ margin-right: 2.5rem; }
.u-margin-right-small{ margin-right: 1.5rem; }

.u-margin-left-medium{ margin-left: 4.47rem; }

.u-margin-bottom-medium{ margin-bottom: 4rem; }
.u-margin-bottom-small{ margin-bottom: 2rem; }

.u-p-font-size{ font-size: 2.6rem; }

.u-bg-blue{ background-color: $color-blue-lighter; }
.u-bg-transparent{ background-color: transparent; }

.u-red{ color: #b60c0c; }

.u-scroll-down{ transform: translate3d(0, -100%, 0); }
.u-scroll-up{ filter: drop-shadow(0 -10px 10px $color-blue-dark); }