.section-projects{
    background-image: linear-gradient(to left bottom, rgba($color-silver, 0.8), rgba($color-blue-light, 0.8)), url(../img/background-2.jpeg);
    @include parallaxScrolling;
    position: relative;
    padding: 5rem 2rem;
    min-height: 100vh;
}

.section-education{
    background-image: linear-gradient(to right bottom, rgba($color-silver, 0.8), rgba($color-blue-light, 0.8)), url(../img/background-3.jpeg);
    @include parallaxScrolling;
    position: relative;
    padding: 5rem 0;
    min-height: 100vh;
}

.section-experience{
    background-image: linear-gradient(to left bottom, rgba($color-silver, 0.8), rgba($color-blue-light, 0.8)), url(../img/background-4.jpeg);
    @include parallaxScrolling;
    position: relative;
    padding: 5rem 0;
    min-height: 100vh;
}

.section-contact{
    background-image: linear-gradient(to right bottom, rgba($color-silver, 0.8), rgba($color-blue-light, 0.8)), url(../img/background-5.jpeg);
    @include parallaxScrolling;
    position: relative;
    padding: 5rem 0;
    padding-bottom: 23rem;
    min-height: 90vh;

    @include responsive(phone){
        min-height: 80vh;
    }

    .icon{
        font-size: 6rem;
        text-align: center;
        margin: 2rem;

        &__link{
            color: $color-blue-dark;

            &:hover{
                color: $color-blue-light;
            }
        }
    }
}