.section-projects{
    background-color: $color-blue-lighter;
    position: relative;
    padding: 7rem 11rem;

    @include responsive(t-landscape){
        padding: 6rem 3rem;
    }
}

.section-education{
    background-color: $color-blue-lighter2;
    position: relative;
    padding: 6rem 0;
}

.section-experience{
    background-color: $color-blue-lighter;
    position: relative;
    padding: 8rem 0;
}

.section-contact{
    background-image: linear-gradient(to right bottom, rgba($color-white, 0.5), rgba($color-blue-light, 0.8)), url(../img/contact-background.jpeg);
    @include parallaxScrolling;
    position: relative;
    padding: 6rem 3rem;

    @include responsive(phone){
        padding: 5rem .5rem;
    }
}